@model FinalTaskTry5.ViewModel.AllFilesViewModel
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
<style>
    .textj{
        font-size:20px;
    }
    .display-flex {
        display: flex;
        margin-left: 270px;
    }
</style>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Главная", "Disk", "User", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>


<div class="main">
    <div class="menu">
        @Html.ActionLink("Мои Файлы", "Disk", "User", new { area = "" }, new { @class = "Trash-open" })
        @Html.ActionLink("Пользователи", "ControlMenu", "User", new { area = "" }, new { @class = "Trash-open" })
        @Html.ActionLink("Уведомления", "GetRequestAccessMessages", "User", new { area = "" }, new { @class = "Trash-open" })
        @Html.ActionLink("Список запросов", "ListOfMyRequest", "User", new { area = "" }, new { @class = "Trash-open" })
        @Html.ActionLink("Корзина", "Trash", "User", new { area = "" }, new { @class = "Trash-open" })
    </div>
    <div class="content-block">
        @using (Html.BeginForm("FindFile", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="display-flex">
                <span class="textj">Поиск файла:</span>
                @Html.TextBoxFor(m => m.FileName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FileName, "", new { @class = "text-danger" })
                <input type="submit" class="btn btn-default" value="Поиск" />
            </div>

        }
        <div class="mainbody">
            <div class="messagesbody">
                <div class="textbody">
                    @foreach (var item in Model.Files)
                    {
                        if (@item.Id != Model.CurrenId)
                        {
                            if (item.Files.Count != 0)
                            {
                                @item.Email
                                <ul>
                                @foreach (var file in item.Files)
                                {
                                    <li>
                                        @file.FileName
                                        @Html.ActionLink("Запросить доступ", "RequestAccess", "User", new { fileid = file.Id, userid = item.Id }, null)
                                    </li>
                                }
                                </ul>
                                <hr />
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>