@model FinalTaskTry5.ViewModel.UserFilesViewModel
@{ 
    string access;
}
<style>
    button{
        display:inline;
    }
    .accessfalse {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 30px;
        color: lightpink;
        border: 1px solid rgb(118, 118, 118);
        padding: 5px;
        background-color: #EFEFEF;
        text-decoration: none;
    }
    .accessfalse:hover, .accessfalse:focus {
        color: lightpink;
        text-decoration: none;
        background-color: rgb(218, 212, 212);
    }
    .accesstrue {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 30px;
        color: red;
        border: 1px solid rgb(118, 118, 118);
        padding: 5px;
        background-color: #EFEFEF;
        text-decoration: none;
    }
    .accesstrue:hover, .accesstrue:focus {
        color: red;
        text-decoration: none;
        background-color: rgb(218, 212, 212);
    }
    .indent-master-folder {
        margin-left:50px;
    }
    .form-control-My {
        display: block;
        width: 210px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Главная", "Disk", "User", new { area = "" }, new { @class = "navbar-brand" })
            @*@Html.ActionLink("Список людей", "ControlMenu", "User", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Уведомления", "GetRequestAccessMessages", "User", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
@*==================================================================================================================*@
@*==================================================================================================================*@
<div class="main">
    <div class="menu">
        <div class="add-block">
            <div class="add">
                @using (Html.BeginForm("AddFile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
    <input type="file" name="upload" class="custom-file-input" onchange="this.form.submit()" />}
                <a class="folder-add-open" href="##">Добавить новую папку</a>
            </div>
        </div>
        <div class="folder-add-fade">
            <div class="folder-add">
                @using (Html.BeginForm("AddFolder", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <span class="indent-master-folder">Название папки:</span>
                                            @Html.TextBoxFor(m => m.FolderName, new { @class = "form-control-My" })
                                            @Html.ValidationMessageFor(m => m.FolderName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="submit" value="Добавить папку" class="btn btn-default" />
                                                        </div>
                                                    </div>}
            </div>
        </div>
        <a class="add-open" href="#">Добавить</a>
        @Html.ActionLink("Мои Файлы", "Disk", "User", new { area = "" }, new { @class = "Trash-open" })
        @Html.ActionLink("Пользователи", "ControlMenu", "User", new { area = "" }, new { @class = "Trash-open" })
        @Html.ActionLink("Уведомления", "GetRequestAccessMessages", "User", new { area = "" }, new { @class = "Trash-open" })
        @Html.ActionLink("Список запросов", "ListOfMyRequest", "User", new { area = "" }, new { @class = "Trash-open" })
        @Html.ActionLink("Корзина", "Trash", "User", new { area = "" }, new { @class = "Trash-open" })
        @*@Html.ActionLink("Ошибки", "Logger", "User", null, new { @class = "loggerLink" })*@
    </div>
@*==================================================================================================================*@
@*==================================================================================================================*@
    <div class="content-block">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <h2>Папки:</h2>
        <div class="Folder-grid">
            @foreach (var item in Model.User.Folders)
            {
                <div class="folder">
                    <span class="folder-text">
                        @Html.ActionLink($"{item.Name}", "Folder", "User", new { folder = item.Name }, new { @class = "link-button" })
                        @Html.ActionLink("Удалить папку", "DeleteFolder", "User", new { id= item.Id }, new { @class = "link-button" })
                    </span>
                </div>
            }
        </div>
        <h2>Файлы:</h2>
        <div class="File-grid">
            @foreach (var item in Model.User.Files)
            {
                if (item.Folder is null && item.Trash == false)
                {
                    <div class="file">
                        @*<button onclick="cop(@item.Id)">Найти файл</button>*@
                        <button onclick="cop(@item.Id)" class="copy_link">Ссылка на файл</button>
                        @if (item.Access is true)
                        {
                            access = "Открыт";
                            @Html.ActionLink($"Доступ:{access}", "ChangeAccess", "User", new { id = @item.Id }, new { @class = "accesstrue" })
                        }
                        else 
                        {
                            access = "Закрыт";
                            @Html.ActionLink($"Доступ:{access}", "ChangeAccess", "User", new { id = @item.Id }, new { @class = "accessfalse" })
                        }
                        @*@Html.ActionLink($"Доступ:{access}", "ChangeAccess", "User", new { id = @item.Id }, new { @class = "access" })*@
                        <div class="file-icon">
                            <img src="@FinalTaskTry5.Helpers.FileIconHelper.FileIcon(item.FileName)">
                        </div>
                        <span class="file-text">
                            @item.FileName
                        </span>
                        <div class="bottom-fixed">
                            @Html.ActionLink("Скачать", "DownloadFile", "User", new { id = @item.Id }, new { @class = "link-button" })
                            @Html.ActionLink("Удалить", "MoveFileInOutTrash", "User", new { id = @item.Id }, new { @class = "link-button" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>