@model FinalTaskTry5.ViewModel.LoggerViewModel
@{
    ViewBag.Title = "Logger";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Файловое хранилище", "Disk", "User", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Список людей", "ControlMenu", "User", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<h2>@ViewBag.Title.</h2>

<div class="main">
    <div class="menu">
        <div class="add-block">
            <div class="add">
                @using (Html.BeginForm("AddFile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="upload" class="addFile" onchange="this.form.submit()" />
                }
            </div>
        </div>
        <a class="add-open" href="#">Добавить</a>
        @Html.ActionLink("Ошибки", "Logger", "User", null, new { @class = "loggerLink" })
    </div>
    <div class="LoggerMenu">
        <table>
            <tr class="tableNames">
                <td>Date</td>
                <td>Exception message</td>
                <td>Action</td>
            </tr>

            @foreach (var item in Model.User.ExceptionDetails)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.ExceptionMessage</td>
                    <td>@item.ActionName</td>
                </tr>
            }
                
        </table>
    </div>
</div>

