@model FinalTaskTry5.ViewModel.AllFilesViewModel
@{
    ViewBag.Title = "ControlMenu";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Меню файлов", "ControlMenu", "Admin", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("FindFile", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <h4>Поиск файла: </h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FileName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FileName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FileName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Поиск" />
        </div>
    </div>
}
<hr />
@foreach (var item in Model.Files)
{
    <p>@item.Email  @Html.ActionLink("Profile", "Manage", "Admin", new { id = item.Id }, null)</p>
    <ul>
        @foreach (var file in item.Files)
        {
            <li>
                @file.Id : @file.FileName : @file.Access
                @Html.ActionLink("Download", "DownloadFile", "Admin", new { id = @file.Id }, null)
                @Html.ActionLink("Delete", "DeleteFile", "Admin", new { id = @file.Id }, null)
            </li>

        }
    </ul>
    <hr />
}

