@model FinalTaskTry5.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
<style>
    .row {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 0px;
    }

    .col-md-8 {
        display: flex;
        justify-content: center;
    }
</style>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h2>@ViewBag.Title.</h2>
            @Html.AntiForgeryToken()
            <h4>Создание новой учетной записи.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <span>Почта:</span>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <span>Имя:</span>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <span>Фамилия:</span>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                </div>
            </div>
            <span>Пароль:</span>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <span>Подтверждение пароля:</span>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Регистрация" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
